@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Mono", monospace;
  background-color: rgb(17 24 39);
  color: rgb(255 255 255);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(17 24 39);
}

::-webkit-scrollbar-thumb {
  background: rgb(16 185 129);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(12, 138, 96);
}
